body {
    font-family: Bryant;
    color: whitesmoke;
    background-color: #8abcd5;
    font-family: ;
    font-weight: ;
}
h1{ font-family: ;
    font-weight: ;
    font-size:300%;
    color: whitesmoke; 
}
h3{
    font-family: bryant;
    font-size: 150%;
    color: whitesmoke;
}

}
img {
    width: 450px;
    height: 450px;
}
