body {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 20px;
    color: black;
    background-color:floralwhite;
    line-height: 25px;
        
}
h1{ font-family: Pattaya;
    font-size:150px;
    line-height: 160px;
    color: #4949f2; 
}
h3{
    font-family: Montserrat;
    font-weight: 400;
    color: black;
    background-color: #e8cbaf
}

}
img {
    padding: 20px;
    width="200"
    height="200"

}

p{
    font-family: Montserrat;
      font-weight: 400;
    font-size: 20px;
    color: black;
    line-height: 30px;
}
