body {
    font-family: Asap;
    font-weight: 400;
    font-size: 25px;
    color: floralwhite;
    background-color: #e8cbaf
}
h1{ font-family: Pattaya;
    font-size:100px;
    line-height: 180px;
    color: #7e6ee7; 
}
h3{
    font-family: Asap;
    font-weight: 400;
    color: floralwhite;
    background-color: #e8cbaf
}

}
img {
    width:200;
    height:200
}
