body {
    font-family: Roboto;
    font-weight: 300;
    font-size: 20px;
    color: floralwhite;
    background-color: #b4b4c5
        
}
h1{ font-family: Pattaya;
    font-size:150px;
    line-height: 160px;
    color: #4949f2; 
}
h3{
    font-family: Asap;
    font-weight: 400;
    color: floralwhite;
    background-color: #e8cbaf
}

}
img {
    width:200;
    height:200
}
