body {
    font-family: Chakra Petch;
    font-weight: 400;
    font-size: 20px;
    color: black;
    background-color:ghostwhite;
    line-height: 25px;
    text-align: center;

}
h1{ font-family: Shrikhand;
    font-size:150px;
    line-height: 160px;
    color: #001b5a; 
    margin-bottom: -500 px;
    margin-top: 70px;
}
h3{
    font-family: Chakra Petch;
    font-weight: 400;
    color: black;
    background-color: #001b5a
}


img { margin-right: 20px;
}


p{
    font-family: Chakra Petch;
    font-weight: 400;
    font-size: 17px;
    color: #001b5a;
    line-height: 28px;
}

p.menu {
    font-size: 20px;
    color:#001b5a;
    margin-bottom: 180px;
    margin-top: 40px;
    text-align: right;
    margin-right: 50px;
}

form{
    line-height: 10px;
}